*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topo {
    width: 100%;
    max-width: 800px;
    height: 150px;
    margin: auto;
}

.menu {
    width: 100%;
    max-width: 800px;
    height: 100px;
    float: left;
    background-color: #ddd;
}

.principal{
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: auto;
    background-color: #eee;
}

.rodape{
    width: 100%;
    max-width: 800px;
    height: 100px;
    margin: auto;
    background-color: #ccc;
}

@media only screen and (max-width:400px){
    .topo {
        height: 200px;
    }
    .menu{
        width: 100%;
    }
}