*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
}
.principal {
    display: flex;
    justify-content: center;
}
.topo{
    display: flex;
    justify-content: flex-end;
    width: 800px;
    height: 100px;
    background-color: #f0f0f0;
}
.menu{

}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
}

nav .active li, nav li:hover {
    background-color: #e5e4e2;
    color: #fff;
}
section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#lago{
    display: flex;
    background-size: cover;
    height: 400px;
    width: 600px;
}